.drop
{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    overflow-y: scroll;
    height:85vh;
    position:fixed;
    width:25vw
}
.drop::-webkit-scrollbar{
    width:5px
}
.drop::-webkit-scrollbar-thumb {
    background-color:rgb(58, 77, 70);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
   
  }
  .drop::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
  
.icon
{
color:aliceblue;
background-color: cadetblue;
font-size:4rem;
margin:0.8rem
}
 span{
    font-weight: bolder;
    font-size: 1.3rem;
    font-family: fantasy;
    
}
.ic{

    transition: 0.2s linear;
   
}

.friends{

    transition: 0.2s linear;
    margin:1rem;
   
   
}
.friends>span{
    margin:1rem;
}
.ic:hover{    cursor:pointer;
    background-color: rgb(132, 133, 132);  
}
.friends:hover{    cursor:pointer;
    background-color: rgb(132, 133, 132);  
}